<div class="panel-header panel-header-lg">
    <canvas baseChart id="bigDashboardChart" [datasets]="lineBigDashboardChartData" [labels]="lineBigDashboardChartLabels" [colors]="lineBigDashboardChartColors" [options]="lineBigDashboardChartOptions" [chartType]="lineBigDashboardChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="main-content">
    <div class="row">


        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{viewday}}の大阪の潮汐({{moon}})</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Date
                                </th>
                                <th>
                                    Weather
                                </th>
                                <th>
                                    Tide
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <button class="btn btn-primary btn-block" (click)="changedays(0)">{{honjitu}}</button>
                                    </td>
                                    <td>
                                        {{todays_weather}}
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-primary btn-block" (click)="changedays(1)">{{asu}}</button>
                                    </td>
                                    <td>
                                        Curaçao
                                    </td>
                                    <td>
                                        Sinaai-Waas
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-primary btn-block" (click)="changedays(2)">{{asatte}}</button>
                                    </td>
                                    <td>
                                        Netherlands
                                    </td>
                                    <td>
                                        Baileux
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-primary btn-block" (click)="changedays(3)">{{mikka}}</button>
                                    </td>
                                    <td>
                                        ---
                                    </td>
                                    <td>
                                        Overland Park
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-primary btn-block" (click)="changedays(4)">{{yokka}}</button>
                                    </td>
                                    <td>
                                        ---
                                    </td>
                                    <td>
                                        Feldkirchen in Kärnten
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-primary btn-block" (click)="changedays(5)">{{ituka}}</button>
                                    </td>
                                    <td>
                                        ---
                                    </td>
                                    <td>
                                        Gloucester
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-primary btn-block" (click)="changedays(6)">{{muika}}</button>
                                    </td>
                                    <td>
                                        ---
                                    </td>
                                    <td>
                                        Gloucester
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">

    </div>
</div>